<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank</title>
</head>
<body>
    <form>
        <input type="number" name="enter_the_amount"><br>
        <input type="radio" name="options" id="option1" value="option1">deposit</input><br>
        <input type="radio" name="options" id="option2" value="option2">withdraw</input><br>
        <input type="submit"><br>
        <h3>{{data}}</h3>

    </form>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank</title>
</head>
<body>
    <form action="/bank" method="POST">  <!-- Specify the action and method attributes -->
        <input type="number" name="enter_the_amount"><br>
        <!-- <input type="number" name="Initial_deposit"><br> -->
        <input type="radio" name="options" id="option1" value="option1">deposit</input><br>
        <input type="radio" name="options" id="option2" value="option2">withdraw</input><br>
        <input type="submit"><br>
        <h3>{{data}}</h3>
    </form>
</body>
</html>

